<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rama.assignment_1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.rama.assignment_1.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.rama.assignment_1.AddContact"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity android:name="com.rama.assignment_1.SearchActivity" >
        </activity>
        <activity
            android:name="com.rama.assignment_1.DeleteActivity"
            android:label="@string/title_activity_delete" >
        </activity>
        <activity
            android:name="com.rama.assignment_1.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.rama.assignment_1.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="com.rama.assignment_1.SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rama.assignment_1.MailActivity"
            android:label="@string/title_activity_mail" >
        </activity>
    </application>

</manifest>